$namespace: 'fl';

@function selector($block, $element: null) {
  $value: '.#{$namespace}-#{$block}';

  @if $element != null {
    $value: '#{$value}__#{$element}';
  }

  @return $value;
}

@mixin b($block) {
  #{selector($block)} {
    @content;
  }
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin when($state) {
  &.is-#{$state} {
    @content;
  }
}
