@use './mixins/bem.scss' as bem;

@include bem.b(input) {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 240px;

  @include bem.e(inner) {
    width: 100%;
    height: var(--f-input-height);
    padding: 0 34px 0 10px;
    border: 1px solid var(--f-color-border);
    border-radius: var(--f-radius-sm);
    outline: none;
    font-size: var(--f-font-size-md);
    color: var(--f-color-text-primary);
    background: #ffffff;
  }

  @include bem.e(clear) {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 999px;
    background: transparent;
    color: var(--f-color-placeholder);
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
  }

  @include bem.when(disabled) {
    .f-input__inner {
      cursor: not-allowed;
      opacity: 0.64;
    }
  }
}

.f-input__inner::placeholder {
  color: var(--f-color-placeholder);
}

.f-input__inner:focus {
  border-color: var(--f-color-focus);
}
